<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ingresosEgresos">
              <td>{{ item.descripcion }}</td>
              <td>{{ item.monto | currency }}</td>
              <td
                [class.text-success]="item.tipo === 'Ingreso'"
                [class.text-danger]="item.tipo === 'Egreso'" >
                {{ item.tipo }}
              </td>
              <td>
                <!-- <button class="btn btn-sm btn-primary">Modificar <i class="fa fa-pencil"></i></button> -->
                <button
                  class="btn btn-sm btn-danger"
                  (click)="borrar(item.uid)">
                  Borrar
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
